<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css")
    link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css")
    link(rel="stylesheet", href="css/custom.css")
body
    .section.hero.is-dark
      .container
        .content
          h1.title Job Market in Melbourne
          h2.title The story of job market in Melbourne
    
    .section
      .container
        .content
          h2 1. Melbourne Job Map
          p First, we will look at the number of employments and business establishments in Melbourne.
          p It is not surprising to see that <b>Melbourne CBD</b> is the most crowded area for work. The second and third places are Docklands and Southbank, Respectively.
          
          .columns
            .column.is-5
              #choro
            .column.is-7
              #step1stack

          p Next, we will explore which industry is the most popular in Melbourne.
            
    .section
      .container
        .content
          h2 2. Employment in each industry
          #step2tree

    .section
      .container
        .content
          h2 3. Number of jobs available VS Graduated students
          #step3bar
    
    .section
      .container
        .content
          h2 4. The biggest companies you can rely on:
          .columns
            .column.is-5
              p The top companies that are biggest in Melbourne are:
              ol.topcomp-list
                li 7-Eleven
                li RMIT
                li KFC
                li Parking
                li McDonald
            .column.is-7
              #step4line

    .section.hero.is-light
      .container
        .content
          h2 Acknowledgements
          h3 Data Sources
          ul.acknow
            li
              a(href="http://highereducationstatistics.education.gov.au") uCube
              | , Department of Education and Training, Australian Government
            li
              a(href="https://data.melbourne.vic.gov.au/clue") Census of Land Use and Employment (CLUE)
              | , City of Melbourne's Open Data Platform
            li
              a(href="http://www.abs.gov.au/AUSSTATS/abs@.nsf/Lookup/1292.0.55.002Main+Features12006?OpenDocument") Australian and New Zealand Standard Industrial Classification (ANZSIC)
              | , Australian Bureau of Statistics

    footer.footer.is-dark
      .container
        .content.has-text-centered
          p
            strong Data Visualization of Melbourne Job Market
            |  by 
            a(href='http://www.byperth.com') Woratana Ngarmtrakulchol
          p This project is for FIT5147 Data Visualization at Monash University, Australia.
          p
            a.icon(href='https://github.com/jgthms/bulma')
              i.fa.fa-github

              



      //- #viz
      //- h1 Where should I work in Melbourne
      //- p Which industry whould you like to work with ?
      //- ul.open-indus
      //-   li
      //-     a(href="#") Accomodation
      //-   li
      //-     a(href="#") Admin &amp; Support Services
      //-   li
      //-     a(href="#") Agriculture &amp; Mining
      //-   li
      //-     a(href="#") Arts &amp; Recreation Services
      //-   li
      //-     a(href="#") Business Services
      //-   li
      //-     a(href="#") Construction
      //-   li
      //-     a(href="#") Education &amp; Training
      //-   li
      //-     a(href="#") Electricity, Gas, Water, &amp; Waste Services
      //-   li
      //-     a(href="#") Food &amp; Beverage Services
      //-   li
      //-     a(href="#") Health Care &amp; Social Assistance
      //-   li
      //-     a(href="#") Information Media &amp; Telecommunications
      //-   li
      //-     a(href="#") Public Administration &amp; Safety
      //-   li
      //-     a(href="#") Real Estate Services
      //-   li
      //-     a(href="#") Rental &amp; Hiring Services
      //-   li
      //-     a(href="#") Retail Trade
      //-   li
      //-     a(href="#") Transport, Postal &amp; Storage
      //-   li
      //-     a(href="#") Wholesale Trade
      //-   li
      //-     a(href="#") Other Services
      //- .open-topplace
      //-   p We found Top 3 places you should work at:
      //-   div#app(v-cloak)
      //-     {{ message }}
      //-   .columns
      //-     .column
      //-       .open-top-3
      //-         .columns
      //-           .column.is-8
      //-             | 1. 
      //-             span.open-topplace-1 South Yarra
      //-           .column.is-4
      //-             a.button.is-primary(href="#") Explore
      //-         .columns
      //-           .column.is-8
      //-             | 2.
      //-             span.open-topplace-2 Docklands
      //-           .column.is-4
      //-             a.button.is-primary(href="#") Explore
      //-         .columns
      //-           .column.is-8
      //-             | 3. Carlton
      //-           .column.is-4
      //-             a.button.is-primary(href="#") Explore
      //-     .column
      //-       #mapid

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.full.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js")
    script(src="js/data.js")
    script(src="js/app-dist.js")